@model MvcAppMovies.Models.Movie

<h1>Dodaj film</h1>

<form asp-action="Add" method="post">
    <div class="mb-3">
        <label asp-for="Tytul" class="form-label">Tytuł</label>
        <input asp-for="Tytul" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Dlugosc" class="form-label">Czas (min)</label>
        <input asp-for="Dlugosc" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Rezyser" class="form-label">Reżyser</label>
        <input asp-for="Rezyser" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Zapisz</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>
